<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapepr 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.dao.StuMapper">

    <insert id="insertStu" parameterType="Student">
        insert into student (stuID,
                             username,
                             state,
                             time)
        values (#{stuID},
                #{username},
                #{state},
                #{time})
    </insert>

    <select id="selectStu" resultType="Student">
        select *
        from student
        where stuID = #{stuID}
    </select>

    <select id="selectStuAll" resultType="Student">
        select *
        from student
    </select>
    <select id="selectOneStu" resultType="Student">
        select *
        from student
        where stuID = #{stuID}
    </select>
    <delete id="deleteStu">
        delete from student where stuID in
        <foreach item="stuID" collection="list" open="(" separator="," close=")">
            #{stuID}
        </foreach>
    </delete>

    <update id="updateStu" parameterType="com.spring.demo.bean.Student">
        update student
        <set>
            state = #{state}
        </set>
        where student.stuID = #{stuID}
    </update>
</mapper>